# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: main
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  case-format-check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Set up JDK 8 for x64
        if: ${{ env.Job-Status }} == 2
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          architecture: x64
          
                   
      - name: Start case format check
        id: case_format_check
        run: |
          cd $GITHUB_WORKSPACE
          ./run.sh -c 2>&1 | tee result.log
          if [ "$(cat ./result.log | grep -i -E 'WARN|ERROR' | grep -v "grep" | wc -l)" -gt 0 ]; then echo 'case format check failed.'; exit 1; fi


      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        continue-on-error: true
        with:
          name: log
          path: |
            ${{ github.workspace }}
          retention-days: 7
          
  dist-bvt-linux-x86:
    runs-on: ubuntu-latest
    name: BVT Test on Ubuntu/x64
    timeout-minutes: 300

    steps:
      - name: checkout head
        uses: actions/checkout@v2
        with:
          repository: matrixorigin/matrixone
          path: ./head
          ref: main

      - name: Set up ENV
        uses: matrixorigin/CI/actions/setup-env@main

      - name: Build MatrixOne
        run: |
          cd $GITHUB_WORKSPACE/head && make clean && make build
          git rev-parse --short HEAD
          echo "base sha: ${{ github.event.pull_request.base.sha }}"
          echo "head sha: ${{ github.event.pull_request.head.sha }}"
          
      - name: Start MO
        run: |
          cd $GITHUB_WORKSPACE/head
          ./optools/run_bvt.sh $GITHUB_WORKSPACE/head launch
          
      - name: Clone test-tool repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '3'
          path: ./mo-tester

      - name: Start BVT Test
        id: bvt_on_pr_version
        run: |
          timedatectl status
          sudo timedatectl set-timezone "Asia/Shanghai"
          timedatectl status
          sleep 60s
          cd $GITHUB_WORKSPACE/mo-tester
          ./run.sh -n -g -p $GITHUB_WORKSPACE/head/test/distributed/cases  -e optimistic 2>&1
          
      - name: Check MO-Server Status
        if: ${{ always() }}
        run: |
          if [ "$(ps -ef | grep 'mo-service' | grep -v "grep" | wc -l)" -gt 0 ]; then pkill -9 mo-service; else echo 'current mo-service has already crashed'; exit 1; fi
        
      - name: remove some files
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd $GITHUB_WORKSPACE
          if  [ -d  "./head/mo-server"  ]; then rm -rf ./head/mo-server; fi
          if  [ -d  "./base/"  ]; then rm -rf ./base/; fi
          rm -rf ./mo-tester/.git
          rm -rf ./mo-tester/lib
